body {
    background-image: url(firstlevel.jpg);
    min-height: 100vh;
    background-size: cover;
    font-family: 'Amatic SC', cursive;
}
.button-positioning{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 45%;

    
}


.btn-large{
    font-size: 30px;
}

.obstacle{
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 32%;
    width: 300px;
    shape-outside: url(obstacle-1.png);
}




.egg{
    text-align: center;
    position: absolute;
    top: 75%;
    left: 46%;
    width: 49px;
}

.egg img{
    width: 100%;
}

.egg2 {
    text-align: center;
    position: absolute;
    bottom: 47%;
    left: 19%;
    width: 49px;
}

.egg2 img {
    width: 100%;
}

.obstacle2 {
    width: 150px;
    text-align: center;
    position: absolute;
    bottom: 48%;
    left: 13%;
    shape-outside: url(obstacle-1.png);
}

.egg3 {
    text-align: center;
    position: absolute;
    bottom: 23%;
    left: 50%;
    width: 46px;
}

.egg3 img {
    width: 100%;
}

.obstacle3 {
    width: 71px;
    text-align: center;
    position: absolute;
    bottom: 23%;
    left: 49%;
    shape-outside: url(obstacle3.png);
}


